**CodeUp**
# [6082.[기초-종합] 3 6 9 게임의 왕이 되자](https://codeup.kr/problem.php?id=6082)
<hr/><br>

친구들과 함께 3 6 9 게임을 하던 영일이는 잦은 실수 때문에 계속해서 벌칙을 받게 되었다.   
3 6 9 게임의 왕이 되기 위한 369 마스터 프로그램을 작성해 보자.   

** 3 6 9 게임은?

여러 사람이 순서를 정한 후, 순서대로 수를 부르는 게임이다.   
만약 3, 6, 9 가 들어간 수를 자신이 불러야 하는 상황이라면, 수를 부르는 대신 "박수(X)" 를 쳐야 한다.   
33과 같이 3,6,9가 두 번 들어간 수 일때, "짝짝"과 같이 박수를 두 번 치는 형태도 있다.   <br>


참고

```
for i in range(1, n+1) :
  if i%10==3 :
    print("X", end=' ')    #출력 후 공백문자(빈칸, ' ')로 끝냄
```
<br><hr/>

입력 : 30 보다 작은 정수 1개가 입력된다. (1 ~ 29) 
 <br>

출력 : 1 부터 그 수까지 순서대로 공백을 두고 수를 출력하는데,
3, 6, 9가 포함 되어있는 수인 경우, 숫자 대신 영문자 X 를 출력한다.

<hr/>

입력 예시 : 9

출력 예시 : 1 2 X 4 5 X 7 8 X

## Soluton

입력한 수만큼 for 문으로 반복한 다음   
i 를 10으로 나누었을 때, 그 나머지가 3 또는 6 또는 9일 경우, X로 출력

In [ ]:
n = int(input())

for i in range(1, n+1) :
    if (i % 10 == 3 or i % 10 == 6 or i % 10 == 9) :
        print("X", end = ' ')
    print(i, end = " ")

9
1 2 X 3 4 5 X 6 7 8 X 9

i를 str()형으로 바꾼 후 '3', '6', '9' 가 들어가면 X로 출력

In [ ]:
n = int(input())

for i in range(1,a+1):
    if '3' in str(i) or '6' in str(i) or '9' in str(i) :
        print('X',end=' ')
    else :    
        print(i,end=' ')

9
1 2 X 4 5 X 7 8 X


문자열 형태로 리스트에 저장 후   
3, 6, 9가 포함 되어 있으면 X로 치환하여 출력

In [1]:
n = int(input())
str_list = []

for i in range(1, n+1):
    str_list.append(str(i))

for i in str_list :
    if '3' in i or '6' in i or '9' in i :
        print('X', end=' ')

    else:
        print(i, end=' ')

9
1 2 X 4 5 X 7 8 X