# **print()**

컴퓨터에 저장된 정보는 프로그래밍 언어를 이용해 모니터에 나타낼 수 있다. 이것을 출력이라고 한다. <br>
파이썬에서는 출력할 때 **`print()`** 함수를 사용한다. 

<br>

그렇다면, a 라는 이름을 가진 변수를 만들어 5 라는 값을 a에 넣어보자

In [ ]:
a = 5

명령을 실행시켰음에도, 아무 것도 출력되지 않는 이유는   
'a 라는 변수에 5 라는 값을 담으라는 명령'만 했기 때문이다.

<br>

그럼 명령을 잘 실행하였는지 출력하라는 명령을 내려보자.

In [ ]:
a = 5
print(a)

5

**print() 함수에 문자열을 입력할 때는, '작은 따옴표' 또는 "큰 따옴표"를 함께 사용한다.**

In [ ]:
# '작은 따옴표' 또는 "큰 따옴표" 둘 중 어느 것이든 사용 가능하다.
# '작은 따옴표'와 "큰 따옴표"를 함께 써서 문자열을 구분해줄 수도 있다. 

print('Hello world')
print("Hello world")
print("This is 'world'")
print("This is he's world")
print('she said, "Hello world"')

Hello world
Hello world
This is 'world'
This is he's world
she said, "Hello world"

**print() 함수에 변수와 문자를 같이 출력할 수 있다.**

다른 문자와 변수를 묶어 하나로 출력할 때는   
따옴표로 묶은 문자와 문자형 변수 사이에 `더하기(+) 기호`를 사용하면 된다.

In [ ]:
name = "python"
print("내 이름은 " + name +"이야")

내 이름은 python이야

### 확장 문자 출력

`print()` 함수는 항상 줄바꿈을 하기 때문에    
다음과 같이 end 파라미터를 공백으로 처리하여 **줄바꿈을 하지 않도록 제한**할 수 있다.

In [1]:
print("기본값은 줄바꿈")
print("바로 이렇게")

기본값은 줄바꿈
바로 이렇게

In [3]:
print("end 파라미터를 사용하여", end = " ")
print("줄바꿈을 하지 않고 출력해보자.")

end 파라미터를 사용하여 줄바꿈을 하지 않고 출력해보자.

**\n 을 삽입하거나, <br>
'''작은 따옴표''' 또는 """큰 따옴표"""를 사용하여 줄바꿈을 해줄 수도 있다. (docstring 방식)**

In [ ]:
print("그렇다면 \\n을 사용하여 \n줄바꿈을 해봅시다")
print("")
print("""다른 방식으로도 
줄 바꿈을 해봅시다""")

그렇다면 \n을 사용하여
줄바꿈을 해봅시다

다른 방식으로도
줄 바꿈을 해봅시다

**\t 를 삽입하여 한 탭을 띄어 쓸 수도 있다.**

In [ ]:
print("이번에는 \\t를 사용하여 \t 띄어쓰기를 해봅시다")

이번에는 \t를 사용하여 	 띄어쓰기를 해봅시다

\n, \t 와 같은 문자를 **확장 문자** 라고 하는데 <br>
 **기본 확장 문자(escape sequence)** 는 다음과 같다.

 > \\' : 따옴표 문자   
 \\"" : 쌍따옴표 문자   
\ : backslash 문자   
\a : bell 문자   
\f : Formfeed 문자   
\n : newline 문자   
\r : carriage return 문자   
\t : tab 문자   
\v : vertical tab 문자

### 리스트 출력

리스트를 출력할 때는 `join()`으로 묶어서 처리한다.

In [7]:
a = ['일곱색깔', '무지개']
print(a)

['일곱색깔', '무지개']

In [8]:
a = ['일곱색깔', '무지개']
print(' '.join(a))

일곱색깔 무지개

### % Operating

포맷팅하고자 하는 데이터의 형태에 따라 포맷 코드를 달리 사용해야 한다.

<hr>
%s : 문자열 (string)   <br>
%c : 문자 1개 (character)  <br> 
%d : 정수 (integer)   <br>
%f : 부동소수 (floating-point)   <br>
%o : 8진수    <br>
%x : 16진수   <br>
%% : Literal % (문자열 %) <br>
<hr>

여기에서 %s 포맷 코드는 어떤 형태의 값이든 변환해 넣을 수 있다.   
%s 는 자동으로 % 뒤의 값을 문자열로 바꾸기 때문

In [ ]:
aliquot = int(input())

for i in range(1, aliquot+1) :
    if aliquot % i == 0 :
        print(i,"(은)는 %d의 약수입니다." %aliquot)

9
1 (은)는 9의 약수입니다.
3 (은)는 9의 약수입니다.
9 (은)는 9의 약수입니다.

In [ ]:
aliquot = int(input())

for i in range(1, aliquot+1) :
    if aliquot % i == 0 :
        print("%d(은)는 %d의 약수입니다." %(i,aliquot))

9
1(은)는 9의 약수입니다.
3(은)는 9의 약수입니다.
9(은)는 9의 약수입니다.

### formatting()

다음과 같이 idx와 fruit이 정의되어 있다고 할 때,   
```
idx = 1
fruit = "Apple"
```
idx 값에 1을 더해서 fruit와 함께 출력하는 방법은 어떤 것이 있을까?

In [9]:
idx = 1
fruit = "Apple"

print('{0} : {1}'.format(idx + 1, fruit))

2 : Apple

위와 같은 형태로 인덱스와 함께 사용 가능하며,    
아래와 같이 인덱스를 생략할 수도 있다.

In [10]:
idx = 1
fruit = "Apple"

print('{} : {}'.format(idx + 1, fruit))

2 : Apple

### f-string(formated string literal)

**`f'{string}'`**

> F-string은 PEP-498 제안을 통해 Python 3.6 부터 지원되기 시작한 기능으로 정식 명칭은 Literal String Interpolation 이다. <br> f-string은 다른 포맷 방법보다 읽기 쉽고, 간결하며, 오류 발생 가능성이 적을 뿐 아니라 속도도 더 빠르다.

f-string은 변수를 뒤에 별도로 부여할 필요 없이   
마치 템플릿을 사용하듯 인라인으로 삽입할 수 있어 편리하게 사용할 수 있다.

무엇보다 기존의 `%`를 사용하거나 `.format`을 부여하는 방식에 비해 훨씬 간결하고 직관적이며 속도도 빠르다.


f-string의 사용 방법은 간단하다.   
문자열을 표현하는 구문 앞에 `f`를 붙이면 된다.

```
>>> name = 'Robin'
>>> print(f"My name is {name}")

out : My name is Robin
```

중괄호{ } 안에 넣어주는 표기만으로   
name 이라는 변수를 쉽게 문자열 안에 삽입할 수 있다. 

다만, f-string 을 사용할 때   
중괄호 {} 내부에서는 백슬래시(\\)를 쓸 수 없다는 점을 주의해야 한다.

In [12]:
idx = 1
fruit = "Apple"

print(f'{idx + 1} : {fruit}')

2 : Apple

### help(print)

파이썬에 내장된 함수인 **`help()`** 함수를 사용하여 **`print()`** 함수에 대한 도움말 (혹은 사용법)을 보자.

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

print() 함수에서 사용하는 기본 옵션은 아래와 같다   
```
print(...)   
　　print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

### file

print 함수에서 file=sys.stdout 라는 의미는 파일을 표준 출력장치로 보내라는 의미이다.   
이는 함수에서 기본 매개 변수에 포함되는 것이므로 출력장치를 따로 설정해주지 않는다면 file의 default(기본값)으로 file=sys.stdout 가 되어 print의 결과를 모니터로 출력하게 된다.

In [ ]:
f = open('d:\\temp.txt','w') # 디렉토리 d에 temp.txt파일을 쓰기 모드로 열라는 명령
print("안녕하세요", file=f)

```
f = open('d:\\temp.txt','w')       
print("안녕하세요", file=f)
```

위의 코드를 실행하면    
![printfile.jpg]()

위와 같이 D 드라이브에 temp.txt 파일이 생성되어 있는 것을 볼 수 있다.

### sep (separator)

**, (구분자)**를 사용하면 입력된 문자열 사이에 내가 설정하여 입력해준 구분자가 들어간다.
```
sep = ' '
```
구분자의 기본값은 ' '(공백)으로 아무 것도 입력하지 않았을 때에는 띄어쓰기가 되고,   
다른 내용으로 출력하고자 할 때에는 출력 부분을 **,(콤마, 구분자)**로 구분해준 후 `sep="내용"`의 형식으로 사용하면 된다.

In [ ]:
print("안녕파이썬")
print("안녕""파이썬")
print("안녕", "파이썬")
print("안녕", "파이썬", sep="!")
print("안","녕","파","이","썬", sep="-")

안녕파이썬
안녕파이썬
안녕 파이썬
안녕!파이썬
안-녕-파-이-썬

### end
`print()`함수와 `print(함수)` 사이의 출력 서식을 지정할 때 사용한다.
```
end = \n
```
end의 기본값은 \n 으로   
별도로 end 값을 설정하지 않고 `print()`함수를 연달아 출력하면 줄이 바뀌어 출력된다. (개행)

In [ ]:
print("안녕 파이썬", end = '!')
print("안녕 파이썬", end = "~\n")
print("안녕 파이썬", end = "\n\n")
print("안녕 파이썬 ", end = "Hello world")

안녕 파이썬!안녕 파이썬~
안녕 파이썬

안녕 파이썬 Hello world